@import url('https://fonts.googleapis.com/css2? family= Knewave & family= Nunito:ital,wght@0,200;0,400;1,300;1,600 & display=swap');


body{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}



/* NAVBAR */

.header{
    display: flex;
}

.ul-nav, .a-nav{
    text-decoration: none;
    float: left;
}

.menu{
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: black;
    font-size: 20px;
}

.menu .navbar .ul-nav li{
    position: relative;
    float: left;
}

.menu .navbar .ul-nav li .a-nav{
    font-size: 20px;
    padding: 15px;
    color: black;
    display: block;
}


.menu-icono{
    width: 25px;
}




/* CARRITO */

.removee{
    position: absolute;
    transform: translateX(-250%);
}

.loginn{
    position: absolute;
    transform: translateX(-250%);
}


























